{% extends 'base.html' %}

{% block title %} Display My Words 🧾 {% endblock %}
<!-- Could make the title a randomly generated synonym of "Hello World" or something cheeky like that 🤣 -->

{% block content %}

<h1>My Words 📑</h1>

Hello World

<!-- <div>
    {% for row in data %}
    <p>{{ row[1] }}<span> Button</span></p>
    <p>{{ row[2] }}</p>
    {% endfor %}
</div> -->

<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Word</th>
        <th scope="col">Definition</th>
        <th scope="col">Status</th>
        <th scope="col">Update Status?</th>
        <th scope="col">Delete Word?</th>
      </tr>
    </thead>
    <tbody>
        {% for row in data %}
      <tr>
        <td scope="row">{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        {% if row[3] != 'Learned' %}
        <td><a href="/update/{{row[0]}}" class="btn btn-dark" onclick="return confirm('Mark this word as Learned?')">Update</td>
        {% else %}
        <td><a href="/update/{{row[0]}}" class="btn btn-dark" onclick="return confirm('Mark this word as Unlearned?')">Update</td>
        {% endif %}
        <td><a href="/delete/{{row[0]}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</td>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}