{% extends 'base.html' %}

{% block title %} Display My Words 🧾 {% endblock %}

{% block content %}

<h1>My Words 📑</h1>

Salutations, earth 🌎

<!-- <div>
    {% for row in data %}
    <p>{{ row[1] }}<span> Button</span></p>
    <p>{{ row[2] }}</p>
    {% endfor %}
</div> -->

{% if words[0] == Null %}
<p>Your list of words is currently empty. Add a word to your list? "Pronto", perhaps?  😏</p>
{% else %}

<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Word</th>
        <th scope="col">Definition</th>
        <th scope="col">Status</th>
        <th scope="col">Update Status?</th>
        <th scope="col">Delete Word?</th>
      </tr>
    </thead>
    <tbody>
        {% for word in words %}
      <tr>
        <td scope="row">{{ word.word }}</td>
        <td><em>{{ word.definition }}</em></td>
        <td>{{ word.status }}</td>
        {% if word.status != 'Learned' %}
        <td><a href="/update/{{word.id}}" class="btn btn-dark" onclick="return confirm('Mark this word as Learned?')">Update</td>
        {% else %}
        <td><a href="/update/{{word.id}}" class="btn btn-dark" onclick="return confirm('Mark this word as Unlearned?')">Update</td>
        {% endif %}
        <td><a href="/delete/{{word.id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</td>
        {% endfor %}
        {% endif %}        
    </tbody>
  </table>

{% endblock content %}