{% extends 'base.html' %}

{% block title %} Home 🏡 {% endblock %}

{% block content %}

<div class="greeting-1">
    <h1>Salutations, Earth 🌎</h1>
    <p><strong>Salutations</strong><em> - A greeting, salute, or address; a hello.</em></p>
    <p><strong>Earth</strong><em> - The third planet of the Solar System; the world upon which humans live.</em></p>
</div>

<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for cat,msg in messages %}
    {% if cat == 'user-created' %}
    <div class="alert alert-success">
        {{ msg }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    {% elif cat == 'auth-success' %}
    <div class="alert alert-success">
        {{ msg }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<!-- <div>
    <img src="../../static/images/stock_image_1.jpg">
</div> -->

{% endblock content %}