<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="static/css/main.css">
<title>{% block title %} {% endblock %}</title>
</head>
<body>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href ="{{ url_for('site.home') }}">
                <p>Homepage</p>
            </a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href ="{{ url_for('prod.mywords') }}">
            <p>My Words 📑</p>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href ="{{ url_for('display.displaywords') }}">
            <p>Display My Words 📑</p>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href ="{{ url_for('site.profile') }}">
            <p>View My Profile</p>
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href ="{{ url_for('auth.logout') }}">
                <p>Log Out</p>
            </a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href = "{{ url_for('auth.login') }}">
                <p>Log In</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href = "{{ url_for('auth.signup') }}">
                <p>Sign Up for Free!</p>
            </a>
        </li>            
        {% endif %}
      </ul>
    {% block content %} {% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>